body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.red-circle {
  color: white;
  width: 2em;
  height: 2em;
  background-color: red;
}

.card-width {
  width: 200px;
}

.my-controls-at-top-right {
  position: absolute;
  top: 15px;
  right: 15px;
}

.red {
  color: red;
}

.green {
  color: green;
}

.white {
  color: white;
}

.my-controls-at-bottom-right {
  position: absolute;
  bottom: 15px;
  right: 15px;
  color: blue;
}